@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
}

.intro {
  position: relative;
  background-color: #f5f7fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.intro h1 {
  font-size: 31.25px;
  line-height: 37px;
  font-weight: 700;

  color: #293264;
}

.intro p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #293264;
  margin-top: 10px;
  margin-bottom: 30px;
}

.intro button {
  width: 193px;
  height: 52px;
  background: #4d5b9e;
  color: #f5f7fb;
  border-radius: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.intro .top {
  position: absolute;
  top: 0;
  right: 0;
}

.intro .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

main {
  position: relative;
  padding-top: 30px;
  min-height: 100vh;
}

main .top,
main .bottom {
  display: none;
  position: absolute;
}

@media (min-width: 768px) {
  main .top,
  main .bottom {
    display: block;
  }
}

main .top {
  top: 0;
  right: 0;
}

main .bottom {
  bottom: 0;
  left: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.questions {
  padding: 15px 0;
  border-bottom: 1px solid #dbdef0;
}

.questions h3 {
  color: #293264;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 15px;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (min-width: 600px) {
  .answers {
    flex-direction: row;
  }
}

.answers .answer {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .answers .answer {
    width: 48%;
  }
}


@media (min-width: 768px) {
  .answers .answer {
    width: auto;
  }
}

.btn-container {
  margin: 10px auto 0;
}

@media (min-width: 767px) {
  .btn-container {
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .btn-container {
    margin-top: 30px;
  }
}


.btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  background-color: #4D5B9E;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}